* {
  margin: 0;
}

body {
  background-color: lightblue;
}

#main-container {
  background-color: white;
  margin: 20px;
  border-radius: 5%;
  padding: 15px;
}

#header-container {
  margin-top: 15px;
  margin-bottom: 20px;
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

#funcionamento {
  font-style: italic;
  text-align: center;
  margin-top: 10px;
}

.button-container-top {
  margin-left: 30%;
  margin-bottom: 30px;
}

#texto-tarefa {
  margin-right: 10px;
}

button {
  width: 80px;
  height: 20px;
  background-color: blue;
  border-radius: 5px;
  font: bold;
  text-align: center;
  color: white;
}

#list-container {
  background-color: lightgray;
  margin: 0 auto;
  padding: 5px;
}

.tarefa {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.button-container-bot {
  margin-top: 30px;
  margin-left: 20%;
}

#apaga-tudo {
  width: 110px;
  background-color: crimson;
}
#remover-selecionado {
  width: 30px;
  height: 20px;
  background-color: red;
  border-radius: 100%;
}

#mover-cima {
  width: 30px;
  height: 20px;
  background-color: gray;
  border-radius: 100%;
}

#mover-baixo {
  width: 30px;
  height: 20px;
  background-color: gray;
  border-radius: 100%;
}

#remover-finalizados {
  width: 170px;
  height: 20px;
  background-color: blue;
}

.marked {
  background-color: rgb(128, 128, 128);
}

.completed {
  text-decoration: line-through;
}